Repository smartcontractkit/ccip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @smartcontractkit/ccip, @smartcontractkit/bix-framework, @smartcontractkit/keepers, @smartcontractkit/FMS, @smartcontractkit/realtime, @smartcontractkit/foundations, @samsondav, @smartcontractkit/mercury-team, @smartcontractkit/vrf-team, @smartcontractkit/functions, @RensR, @matYang, @RayXpub, @elatoskinas, @smartcontractkit/ccip-onchain, @makramkd, @smartcontrackit/mercury-team, @smartcontractkit/bix-ship, @archseer, @bolekk, @patrick-dowell, @chris-de-leon-cll, @smartcontractkit/data-feeds-engineers, @smartcontractkit/test-tooling-team, @jasonmci, @smartcontractkit/liquidity-manager, @smartcontractkit/releng, @smartcontractkit/prodsec-public, @jmank88, @krehermann, @smartcontractkit/devrel, @smartcontractkit/ccip-offchain, @smartcontractkit/rmn

.github/CODEOWNERS:

# CODEOWNERS Best Practices
# 1. Per Github docs: "Order is important; the last matching pattern takes the most precedence."
# Please define less specific codeowner paths before more specific codeowner paths in order for the more specific rule to have priority

# Root
* @smartcontractkit/ccip

# Chains
/common @smartcontractkit/bix-framework
/core/chains/ @smartcontractkit/bix-framework

# Services
/core/services/directrequest @smartcontractkit/keepers
/core/services/feeds @smartcontractkit/FMS
/core/services/synchronization/telem @smartcontractkit/realtime

# To be deprecated in Chainlink V3
/core/services/fluxmonitorv2 @smartcontractkit/foundations
/core/services/job @smartcontractkit/ccip
/core/services/keystore @smartcontractkit/keepers
/core/services/ocr* @smartcontractkit/foundations
/core/services/periodicbackup @smartcontractkit/foundations
/core/services/pg @smartcontractkit/foundations @samsondav
/core/services/pipeline @smartcontractkit/foundations @smartcontractkit/bix-framework
/core/services/telemetry @smartcontractkit/realtime
/core/services/relay/evm/mercury @smartcontractkit/mercury-team
/core/services/webhook @smartcontractkit/foundations @smartcontractkit/bix-framework
/core/services/llo @smartcontractkit/mercury-team

# VRF-related services
/core/services/vrf @smartcontractkit/vrf-team
/core/services/blockhashstore @smartcontractkit/vrf-team
/core/services/blockheaderfeeder @smartcontractkit/vrf-team
/core/services/pipeline/task.vrf.go @smartcontractkit/vrf-team
/core/services/pipeline/task.vrfv2.go @smartcontractkit/vrf-team
/core/services/pipeline/task.vrfv2plus.go @smartcontractkit/vrf-team

# Keeper/Automation-related services
/core/services/keeper @smartcontractkit/keepers
/core/services/ocr2/plugins/ocr2keeper @smartcontractkit/keepers

# Chainlink Functions
core/services/functions @smartcontractkit/functions
core/services/ocr2/plugins/functions @smartcontractkit/functions
core/services/s4 @smartcontractkit/functions
core/service/ocr2/plugins/s4 @smartcontractkit/functions
core/services/ocr2/plugins/threshold @smartcontractkit/functions
core/services/relay/evm/functions @smartcontractkit/functions
core/services/relay/evm/functions @smartcontractkit/functions
core/scripts/functions @smartcontractkit/functions
core/scripts/gateway @smartcontractkit/functions

# Contracts
/contracts/ @RensR @matYang @RayXpub @elatoskinas

# First we match on project names to catch files like the compilation scripts,
# gas snapshots and other files not places in the project directories.
# This could give some false positives, so afterwards we match on the project directories
# to ensure the entire directory is always owned by the correct team.

/contracts/**/*keeper* @smartcontractkit/keepers
/contracts/**/*upkeep* @smartcontractkit/keepers
/contracts/**/*automation* @smartcontractkit/keepers
/contracts/gas-snapshots/automation.gas-snapshot @smartcontractkit/keepers
/contracts/**/ccip/ @smartcontractkit/ccip-onchain @makramkd
/contracts/**/*Functions* @smartcontractkit/functions

/contracts/src/v0.8/functions @smartcontractkit/functions
/contracts/**/*functions* @smartcontractkit/functions
/contracts/**/*llo-feeds* @smartcontrackit/mercury-team
/contracts/**/*vrf* @smartcontractkit/vrf-team
/contracts/**/*l2ep* @smartcontractkit/bix-ship
# TODO: replace with a team tag when ready
/contracts/**/*keystone* @archseer @bolekk @patrick-dowell

/contracts/src/v0.8/automation @smartcontractkit/keepers
/contracts/src/v0.8/functions @smartcontractkit/functions
# TODO: interfaces folder, folder should be removed and files moved to the correct folders
/contracts/src/v0.8/l2ep @chris-de-leon-cll
/contracts/src/v0.8/llo-feeds @smartcontractkit/mercury-team
# TODO: mocks folder, folder should be removed and files moved to the correct folders
/contracts/src/v0.8/operatorforwarder @smartcontractkit/data-feeds-engineers
/contracts/src/v0.8/shared @RensR @matYang @RayXpub @elatoskinas
# TODO: tests folder, folder should be removed and files moved to the correct folders
# TODO: transmission folder, owner should be found
/contracts/src/v0.8/vrf @smartcontractkit/vrf-team


# At the end, match any files missed by the patterns above
/contracts/scripts/native_solc_compile_all_events_mock @smartcontractkit/functions
# Remove changeset files from the codeowners
/contracts/.changeset


# Tests
/integration-tests/**/*ccip* @smartcontractkit/test-tooling-team @jasonmci @smartcontractkit/ccip
/integration-tests/**/*keeper* @smartcontractkit/keepers
/integration-tests/**/*automation* @smartcontractkit/keepers
/integration-tests/**/*lm_* @smartcontractkit/liquidity-manager

# CI/CD
/.github/** @smartcontractkit/releng @smartcontractkit/test-tooling-team @jasonmci @smartcontractkit/ccip
/.github/workflows/integration-tests.yml @smartcontractkit/test-tooling-team @jasonmci
/.github/workflows/**-tests.yml @smartcontractkit/test-tooling-team @jasonmci
/.github/workflows/integration-chaos-tests.yml @smartcontractkit/test-tooling-team @jasonmci
/.github/workflows/integration-tests-publish.yml @smartcontractkit/test-tooling-team @jasonmci
/.github/workflows/performance-tests.yml @smartcontractkit/test-tooling-team @jasonmci

/.github/workflows/automation-ondemand-tests.yml @smartcontractkit/keepers
/.github/workflows/automation-benchmark-tests.yml @smartcontractkit/keepers
/.github/workflows/automation-load-tests.yml @smartcontractkit/keepers
/.github/workflows/automation-nightly-tests.yml @smartcontractkit/keepers

/core/chainlink.Dockerfile @smartcontractkit/prodsec-public

# Dependencies
contracts/scripts/requirements.txt @smartcontractkit/prodsec-public
.tool-versions @smartcontractkit/prodsec-public
.nvmrc @smartcontractkit/prodsec-public
contracts/package.json @smartcontractkit/prodsec-public
contracts/pnpm.lock @smartcontractkit/prodsec-public
go.mod @smartcontractkit/prodsec-public @smartcontractkit/releng @smartcontractkit/foundations
go.sum @smartcontractkit/prodsec-public @smartcontractkit/releng @smartcontractkit/foundations
integration-tests/go.mod @smartcontractkit/prodsec-public
integration-tests/go.sum @smartcontractkit/prodsec-public
flake.nix @smartcontractkit/prodsec-public
flake.lock @smartcontractkit/prodsec-public

# Config
./core/config @samsondav @jmank88

# LOOP Plugins
/plugins @jmank88 @krehermann

# Config
./docs/CONFIG.md @smartcontractkit/foundations @smartcontractkit/devrel
./internal/config/docs.toml @smartcontractkit/foundations @smartcontractkit/devrel


# CCIP override
/core/ @smartcontractkit/ccip
/core/scripts/ccip/manual-execution @smartcontractkit/ccip-offchain
/contracts/ @smartcontractkit/ccip-onchain @makramkd @elatoskinas @RayXpub
go.mod @smartcontractkit/ccip @smartcontractkit/prodsec-public @smartcontractkit/releng @smartcontractkit/foundations
go.sum @smartcontractkit/ccip @smartcontractkit/prodsec-public @smartcontractkit/releng @smartcontractkit/foundations
integration-tests/go.mod @smartcontractkit/ccip @smartcontractkit/prodsec-public
integration-tests/go.sum @smartcontractkit/ccip @smartcontractkit/prodsec-public

# leave snapshots & changeset as ownerless
/contracts/gas-snapshots/
/contracts/.changeset/

# CCIP LM
/core/**/liquiditymanager/ @smartcontractkit/liquidity-manager
/core/services/relay/evm/liquidity_manager.go @smartcontractkit/liquidity-manager
/contracts/**/liquiditymanager/ @smartcontractkit/liquidity-manager

# CCIP RMN
/contracts/src/v0.8/ccip/RMN.sol @smartcontractkit/rmn
/contracts/src/v0.8/ccip/ARMProxy.sol @smartcontractkit/rmn
/contracts/src/v0.8/ccip/interfaces/IRMN.sol @smartcontractkit/rmn
/contracts/src/v0.8/ccip/test/arm @smartcontractkit/rmn

# CCIP Capabilities
/core/capabilities/ccip @smartcontractkit/ccip-offchain

Adding comment to the Observation structs (#1349)
  core/services/ocr2/plugins/ccip/observations.go
Owners: @smartcontractkit/ccip

update evmclient dial
  integration-tests/ccip-tests/load/gas_suite.go
Owners: @smartcontractkit/test-tooling-team, @jasonmci, @smartcontractkit/ccip

expose delve port
  integration-tests/docker/test_env/cl_node.go
Owners: @smartcontractkit/ccip

fixing bug in build_ccip_debug_image make command naming
  integration-tests/ccip-tests/Makefile
Owners: @smartcontractkit/test-tooling-team, @jasonmci, @smartcontractkit/ccip

feat: CCIP-2815 Offramp CommitReport event emission updates
  contracts/src/v0.8/ccip/offRamp/OffRamp.sol
  contracts/src/v0.8/ccip/test/offRamp/OffRamp.t.sol
Owners: @smartcontractkit/ccip-onchain, @makramkd, @elatoskinas, @RayXpub

feat: CCIP-2815 Offramp CommitReport event emission updates
  contracts/src/v0.8/ccip/test/offRamp/OffRamp.t.sol
Owners: @smartcontractkit/ccip-onchain, @makramkd, @elatoskinas, @RayXpub

Adding install-chainlink-delve make command
  GNUmakefile
  core/chainlink.debug.Dockerfile
Owners: @smartcontractkit/ccip

minor fix to last commit
  GNUmakefile
Owners: @smartcontractkit/ccip

fix: CCIP-2815 Offramp contract event emit fix
  contracts/src/v0.8/ccip/offRamp/OffRamp.sol
Owners: @smartcontractkit/ccip-onchain, @makramkd, @elatoskinas, @RayXpub

fix: CCIP-2815 gassnapshot fixes for Offramp contracts
  contracts/gas-snapshots/ccip.gas-snapshot
Owners: none

feat: skip report exec on curse
  contracts/gas-snapshots/ccip.gas-snapshot
  contracts/src/v0.8/ccip/offRamp/OffRamp.sol
  contracts/src/v0.8/ccip/test/offRamp/OffRamp.t.sol
  contracts/src/v0.8/ccip/test/offRamp/OffRampSetup.t.sol
  core/gethwrappers/ccip/generated/offramp/offramp.go
  core/gethwrappers/ccip/generation/generated-wrapper-dependency-versions-do-not-edit.txt
Owners: @smartcontractkit/ccip-onchain, @makramkd, @elatoskinas, @RayXpub, @smartcontractkit/ccip

updated debug Dockerfile with delve installed in final image
  core/chainlink.debug.Dockerfile
Owners: @smartcontractkit/ccip

chore: update gas snapshot and geth wrappers
  contracts/gas-snapshots/ccip.gas-snapshot
  core/gethwrappers/ccip/generated/offramp/offramp.go
  core/gethwrappers/ccip/generation/generated-wrapper-dependency-versions-do-not-edit.txt
Owners: @smartcontractkit/ccip

run cl node container with dlv
  integration-tests/docker/test_env/cl_node.go
Owners: @smartcontractkit/ccip

use full dlv path
  integration-tests/docker/test_env/cl_node.go
Owners: @smartcontractkit/ccip

try another path
  integration-tests/docker/test_env/cl_node.go
Owners: @smartcontractkit/ccip

Increase max signers (#1405)
  contracts/gas-snapshots/ccip.gas-snapshot
  contracts/src/v0.8/ccip/capability/CCIPConfig.sol
  contracts/src/v0.8/ccip/ocr/MultiOCR3Base.sol
  contracts/src/v0.8/ccip/test/capability/CCIPConfig.t.sol
  contracts/src/v0.8/ccip/test/ocr/MultiOCR3Base.t.sol
  core/gethwrappers/ccip/generated/ccip_config/ccip_config.go
  core/gethwrappers/ccip/generated/multi_ocr3_helper/multi_ocr3_helper.go
  core/gethwrappers/ccip/generated/offramp/offramp.go
  core/gethwrappers/ccip/generation/generated-wrapper-dependency-versions-do-not-edit.txt
Owners: @smartcontractkit/ccip-onchain, @makramkd, @elatoskinas, @RayXpub, @smartcontractkit/ccip

chainlink starts with dlv
  core/chainlink.debug.Dockerfile
  integration-tests/docker/test_env/cl_node.go
Owners: @smartcontractkit/ccip

prevent redundant allocations
  common/txmgr/confirmer.go
Owners: @smartcontractkit/bix-framework

drop phaseTimeout upper bound
  integration-tests/ccip-tests/testconfig/ccip.go
Owners: @smartcontractkit/test-tooling-team, @jasonmci, @smartcontractkit/ccip

stuck tx edge case fixes
  contracts/src/v0.8/ccip/pools/USDC/HybridLockReleaseUSDCTokenPool.sol
  contracts/src/v0.8/ccip/pools/USDC/USDCBridgeMigrator.sol
  contracts/src/v0.8/ccip/test/pools/HybridLockReleaseUSDCTokenPool.t.sol
Owners: @smartcontractkit/ccip-onchain, @makramkd, @elatoskinas, @RayXpub
